.graph-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .chart-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
  .chart-container {
    width: 70%; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the container on the page */
  }
  